body {
    font-size: 16px;
    color: Black;
    font-family: "Comic Sans MS", sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #999999;
    border-color: black;
    border-width: 2px;
    border-radius: 0;
}

.navbar-brand {
    padding-bottom: 40px;
    padding-top: 15px;
    border: 1px black;
}

a.h1 {
    font-family: "Comic Sans MS", serif;
    font-size: 1.8em;
    color: #0f0f0f;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    text-decoration: none;
}

.navbar-brand p span { /* Star-K */
    vertical-align: middle;
}

#nav-list {
    background-color: white;
}
#nav-list a {
    color: #0f0f0f;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #0f0f0f;
}


.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}


.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
}
/* END HEADER */